name: Build & Test

on:
  push:
    branches:
      - 'renovate/**'
  pull_request:
    branches:
      - main
  workflow_call:  # Allow this workflow to be called by other workflows

jobs:
  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - run: npm run verify:android

  build_ios:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: npm run verify:ios

  web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: npm run lint:check
      - run: npm run build
      - run: npm run verify:web
